* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

#container {
  width: 40%;

  border: 1px solid red;

  margin: 0px auto;
  text-align: center;
}
