<!DOCTYPE html>
<html lang="es">

<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/css/estilos.css" class="">

</head>

<body style="padding: 40px">
    <table class="table">
        <tr>
            <td><a class="nav-link" href="/">Users</a></td>
        </tr>
        <tr>

        </tr>
    </table>
    <style>
       
    </style>
    <div id="container">
        <canvas width="100%" height="100%" id="myChart"></canvas>
    </div>

    {% block javascript %}
    <script>
        const myChart = new Chart(
            document.getElementById('myChart'), {
            type: 'line',
            data: {
                labels: ({{ labels | tojson }}),
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: ({{ data | tojson }}),
        }]
            },
        options: { }
        }
        );
    </script>
    {% endblock %}
</body>

</html>