<!DOCTYPE html>
<html lang="es">

<head>
  <title>Users</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="static/css/estilos.css" class="">

</head>

<body style="padding: 40px">
  <table class="table">
    <tr>

      <td><a class="nav-link" href="/graph">Graph</a></td>

    </tr>
    <tr>
      <th scope="col">Intent</th>
    </tr>
    {% for i in data %}
    <form method="POST" action="/">
      <tr>
        <td><input type="text" name="Intent" value="{{i}}"></td>
    </form>
    <!-- <td><a href="/delete/{{i.password}}"><button class="btn btn-primary">Delete</button></a></td> -->
    </tr>

    {% endfor %}
  </table>
  </div>

</body>

</html>